<div class="vh-100 dt w-100 tc bg-navy white cover" style="background:url('/images/home/background.jpg') no-repeat center;">
  <div class="dtc v-mid ph2 bg-black-40 white-80">
    <h1 class="f1 f-subheadline-ns i animated">Matias Verdier</h1>
    <p class="measure f3 f2-ns mv2 center fw1 white-70">
      Full Stack Web Developer
    </p>
    <p class="measure f4 f3-ns mv2 center fw1 white-70">
      Apasionado por aprender y compartir el conocimiento
    </p>

    <div class="social center f1 pv4 white-70">
      <a class="link blue hover-light-blue mh3 no-underline" href="https://twitter.com/matiasvj" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="link white-70 hover-white mh3 no-underline" href="https://github.com/MatiasVerdier" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</div>
