<nav class="w-100 overflow-x-visible-ns flex justify-between items-center center fixed">

	<a href="/" class="b white-80 hover-white pa3 db h-100 no-underline flex-none">
    Home
	</a>

	<ul class="list flex b grey-3 pa0 mv0 white-80">

		<li><a href="/about" class="white-80 hover-white pa3 no-underline db">Acerca de mi</a></li>

		<li><a href="/posts" class="white-80 hover-white pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="white-80 hover-white pa3 no-underline db">Contacto</a></li>
	</ul>

</nav>
