{{ partial "head.html" . }}
<body>
    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1 has-text-grey-lighter">
            &#x0034&#x20E3; &#x0030&#xFE0F&#x20E3; &#x0034&#x20E3;
            <p>
              Upsss! Parece que no hay nada por aqui &#x1F643;
            </p>
          </h1>
          <a href="/">
            <h2 class="subtitle is-size-2">
               &#x1F3E0; Volver &#x1F3E0;
            </h2>
          </a>
        </div>
      </div>
    </section>

  </body>
</html>
